@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  background: #a0b1b4;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: white;
  background: #9834a5;
}
.center,.modal-box{
  position: absolute;
  height: 370px;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #10c555 solid;
}

.modal-box.show-modal{
  top: 50%;
  opacity: 1;
  visibility: visible;
  transition: .4s;
}
/* close(X) button */
.modal-box .fa-times{
  position: absolute;
  top: 0;
  right: 0;
  background: #db1919;
  height: 45px;
  width: 50px;
  line-height: 40px;
  color: white;
  font-size: 18px;
  border-radius: 0 5px 0 50px;
  padding-left: 13px;
  cursor: pointer;
}
.fa-times:hover{
  font-size: 22px;
}
/* email icon on top */
.modal-box .icon1{
  font-size: 60px;
  background: #a4ad1a;
  height: 120px;
  width: 120px;
  color: white;
  border-radius: 50%;
  line-height: 120px;
  text-align: center;
  margin-bottom: 10px;
}
.modal-box header{
  font-size: 31px;
  font-family: 'Lobster Two';
  margin-bottom: 10px;
}
.modal-box p{
  /* margin-bottom: 10px; */
  line-height: 20px;
  color: rgb(19, 10, 10);
}
form input, form button{
  height: 50px;
  width: 95%;
  border-radius: 10px;
}
/* email icon in text field */
form .icon2{
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  background: #98b41b;
  color: white;
  line-height: 50px;
  font-size: 24px;
  border-radius: 5px 0 0 5px;
}
form input{
  margin-top: 15px;
  padding: 0 65px;
  font-size: 18px;
  outline: none;
  border: 2px solid #98b41b;
  caret-color: #98b41b;
}
input::placeholder{
  color: #8c8c8c;
}
form input:focus{
  box-shadow: 0 0 15px #82e6fc,
              0 0 25px #b4f0fd,
              0 0 35px #ffffff;
}
form button{
  margin-top: 15px;
  background: #98b41b;
  color: white;
  font-size: 25px;
  border: 1px solid #98b41b;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  transition: .3s;
}
form button:hover{
  background: #14b437;
  border: 1px solid #05cdfa;
  letter-spacing: 2px;
}
