<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>pop up box</title>
      <link rel="stylesheet" href="../resources/css/popupStyle.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <body>
      <div class="center modal-box">
         <!-- <div class="fas fa-times" ></div> -->
         <a href="./reports.html" class="fas fa-times"></a>
         <div class="fas fa-envelope icon1"></div>
         <header>Share this to..</header>
         <p>
            the contact you add here will be able to view data.
         </p>
         <form action="">
            <div class="fas fa-envelope icon2"></div>
            <input type="email" required placeholder="abc@example.com">
            <button>Share</button>
         </form>
      </div>
    
   </body>
</html>