<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="../resources/css/reportsStyle.css">
</head>
<body>
    <header class="header">
        <a href="./minidash.html"><img src="../resources/images/logo.jpg" alt="logo" class="logo"></a>
        <nav class="navbar">
            <a href="./minidash.html">HOME</a>
            <a href="#about">ABOUT</a>
            <a href="./index.html">LOG IN</a>
        </nav>
    </header>    
    <div class="reports-table">
        <table>
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
                <td>
                    <span class="action_btn">
                    <a href="./popup.html">Share</a>
                    <a href="#">Delete</a>
                    </span>
                </td>
                </tr>

                <tr>
                    <td>X</td>
                    <td>Y</td>
                    <td>Z</td>
                    <td>
                    <span class="action_btn">
                        <a href="./popup.html">Share</a>
                        <a href="#">Delete</a>
                    </span>
                    </td>
                </tr>   
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>