<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload csv file</title>
    <link rel="stylesheet" href="../resources/css/temp-uploadStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="upload-area">
    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
    <header>Upload CSV File</header>
    <input type="file" class="file-select"><br>
    <button class="btn-outline-success btn">Upload</button>
  </div>
  <script src="../resources/js/temp-uploadScript.js"></script>
</body>
</html>